.jumbotron-title {
    background-color: rgb(252, 110, 85);
    height: 400px;
    width: 100%;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

@media (max-width: 575px) {
    .display-4 {
        font-size: 25px;
    }
}